header{
  .img-logo{
    width: 5rem;
  }
  .menu-button{
    border: 0;
    &:focus{
      box-shadow: none;
    }
  }
}
  .menu{
    flex-grow: 0;
    ul{
      li{
        a{
          text-decoration: underline;
        }
      }
    }
}
      .menu-ul{
        align-items: center;
        font-size: 15px;
}

